In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
#| hide
from requestgpt.core import *

# RequestGPT

> Analysing requests using GPT.

In [4]:
show_df()

          0         1         2         3         4
0  0.660352  0.374871  0.122114  0.413474  0.548258
1  0.587020  0.878815  0.291667  0.944811  0.174755
2  0.611433  0.808027  0.195298  0.086731  0.169615
3  0.358779  0.460175  0.095216  0.978313  0.782355
4  0.908848  0.337949  0.092168  0.985771  0.888502
5  0.994304  0.684957  0.689514  0.313059  0.573864
6  0.128596  0.427849  0.852046  0.022732  0.628247
7  0.811634  0.362612  0.995827  0.576982  0.812442
8  0.535641  0.763027  0.865717  0.797448  0.906843
9  0.623603  0.694726  0.313861  0.284018  0.416073